@font-face {
    font-family: "national";
    src: url(../fonts/national-regular.otf);
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: "pure-pakati";
    src: url(../fonts/PurePakati-Regular.otf);
}